.template-container {
  max-width: 540px;
  margin: 40px auto;
  background: whitesmoke;
  text-align: left;
  padding: 20px 40px;
  border-radius: 10px;
  border: 1px solid $gray;
}

.button-container {
  margin-top: 16px;
  display: flex;
  justify-content: space-between;
}
